[include fluidd.cfg]

[mcu]
serial: /dev/ttyUSB0
restart_method: command
 
[printer]
kinematics: cartesian
max_velocity: 1000
max_accel: 7000
max_z_velocity: 30
max_z_accel: 100
 
[force_move]
enable_force_move: true
 
[virtual_sdcard]
path: ~/printer_data/gcodes
 
[stepper_x]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC13
microsteps: 16
rotation_distance: 34
endstop_pin: !PC15
position_endstop: 205.5
position_max: 205.5
homing_speed: 100
second_homing_speed: 5
 
[stepper_y]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC13
microsteps: 16
rotation_distance: 34
endstop_pin: !PA6
position_max: 205.5
position_endstop: 205.5
homing_speed: 100
second_homing_speed: 5
 
[stepper_z]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC13
microsteps: 16
rotation_distance: 8
endstop_pin: !PA7
position_endstop: 216.5 #Default 216.5
position_max: 216.5 #Default 216.5
homing_speed: 25
second_homing_speed: 5


[homing_override]
axes: z
set_position_z: 0
gcode:
    G90                # Use absolute positioning
    G1 Z10 F600        # Lift Z to 10mm (safer to move XY)
    G28 X Y            # Home X and Y
    G1 X115 Y100 F3000 # Move to middle of bed
    G28 Z              # Home Z
    G1 Z10 F600        # Lift Z after homing to 0

[bed_screws]
screw1: 115, 170
screw2: 43, 25
screw3: 188, 25 

[extruder]
step_pin: PC14
dir_pin: PB9
enable_pin: !PC13
microsteps: 16
rotation_distance: 32.5
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA4
#control: pid
#pid_Kp: 29.460
#pid_Ki: 2.067
#pid_Kd: 104.952
min_temp: 0
max_temp: 250
min_extrude_temp: 150
max_extrude_only_distance: 500
max_extrude_cross_section: 2.0
 
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA5
control: pid
pid_Kp: 57.069
pid_Ki: 1.469
pid_Kd: 554.286
min_temp: 0
max_temp: 110

[filament_switch_sensor runout_sensor]
pause_on_runout: True
debounce_delay: 1
switch_pin: PC0

[fan]
pin: PC2
 
[heater_fan heatbreak_cooling_fan]
pin: PC3
heater: extruder
fan_speed: 1.0
 
[led extruder_led]
white_pin: PC1

[controller_fan mcu_fan1]
pin: PA0
max_power: 1
stepper: stepper_x, stepper_y, stepper_z
heater: heater_bed, extruder

#unused fan FAN1 pin is PA3
 

#######MACROS##########

[exclude_object]

[display_status]


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

 
[pause_resume]
 
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 
 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}
 

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE


[gcode_macro LOAD_FILAMENT]
variable_load_distance: 425
variable_purge_distance: 150
gcode:
 SET_LED LED=extruder_led White=1.0 
 G1 z50 F500 #Lower hotbed
 G1 XG1 X180 F3000.0 #Move to purge position
 {% set speed = params.SPEED|default(300) %}
 {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity * 100%}
 {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(230)|float %}
 SAVE_GCODE_STATE NAME=load_state
 #M300 #Beep
 G91 #Set incremental move mode
 G92 E0 #Reset extruder to position zero
 #Display message
 M117 Heating...
 M109 S{EXTRUDER_TEMP} #Heat hot end to 230 as default
 #M300 #Beep
 #Display message
 M117 Loading filament...
 G1 E{load_distance} F{max_velocity} #Fast load filament
 G1 E{purge_distance} F{speed} #Slow load filament
 #M300 #Beep
 #Display message
 M117 Filament loaded
 M109 S{0} #Turn off heat 
 RESTORE_GCODE_STATE NAME=load_state 



[gcode_macro UNLOAD_FILAMENT]
variable_unload_distance: 470
gcode:
 SET_LED LED=extruder_led White=1.0 
 G1 XG1 X180 F3000.0 #Move to purge position
 G1 z50 F500 #Lower hotbed
 {% set speed = params.SPEED|default(300) %}
 {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity * 100%}
 {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(230)|float %}
 SAVE_GCODE_STATE NAME=unload_state
 #M300 #Beep
 G91 #Set incremental move mode
 G92 E0 #Reset extruder to position zero
 #Display message
 M117 Heating...
 M109 S{EXTRUDER_TEMP} #Heat hot end to 230 as default
 #M300 #Beep
 #Display message
 M117 Unloading filament...
 G0 E10 F300 #Exrtude some filament
 G0 E5 F3600 #Push back filament to minimize stringing
 G0 E-15 F3600 #Quickly move filament in the cold zone
 G0 E-20 F300 #Continue extraction slowly to allow filament to cool
 G1 E-{unload_distance} F{max_velocity} #Fast unload
 #M300 #Beep
 #Display message
 M117 Filament unloaded
 M109 S{0} #Turn off heat
 RESTORE_GCODE_STATE NAME=unload_state


[gcode_macro REAR_SCREW_Z_ADJUST]
gcode:
 G90
 G28 ;Home All Axis
 G1 Z5 F300 ;Move Z up 
 G0 X115 Y170 G3600
 Z_ENDSTOP_CALIBRATE
 SAVE_CONFIG

[gcode_macro BED_SCREW_Z_ADJUST]
gcode:
 G90
 G28 ;Home All Axis
 G1 Z5 F300 ;Move Z up 
 BED_SCREWS_ADJUST 
 SAVE_CONFIG


[gcode_macro UNSAFE_RAISE_TOOL] 
#Raise the toolhead without homing 
gcode:
 G90 
 SET_KINEMATIC_POSITION Z=0 
 G0 Z10 F600 ; Z Changes lift height
 M84


[gcode_macro PID_EXTRUDER]
gcode:
 PID_CALIBRATE HEATER=extruder TARGET=210
 SAVE_CONFIG

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60
  SAVE_CONFIG

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 215.950
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.642
#*# pid_ki = 1.807
#*# pid_kd = 105.732

